* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

header a {
  color: #fff;
  text-decoration: none;
  line-height: 35px;
}

header nav {
  flex: 1;
}

div a > span {
  display: inline-block;
  width: 35px;
  margin-right: 11px;
  text-align: center;
  border-radius: 3px;
  background: #4B5563;
  box-shadow: 0px 15px 30px 0px #00000026;
}

div > p {
  line-height: 28px;
}

header input::placeholder {
  color: #fff;
}

ul { 
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 39px;
}

nav ul li:first-child{
    margin-right: 13px;
}

article {
  text-align: center;
  padding: 0 25%;
}

#search {
  background-color: #1f293799;
  color: #fff;
  border: none;
  width: 224px;
  height: 40px;
  border-radius: 30px 30px 30px 30px;
  font-size: 16px;
  padding: 0 40px;
}

.main,
.header {
  width: 1080px;
}

.main {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  margin: 0 auto;
}

.divInput {
  position: relative;
  
}

.divInput img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 14px;
  left: 14px;
}

.header {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
  margin: 0 auto;
  padding: 71px 0 69px;
}

.articleDate {
  margin: 0 0 14px 0;
}

.articleDate,
.personStatus {
  font-size: 14px;
  color: #fff;
  opacity: 60%;
}

.articleHeader {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 30px 0;
  line-height: 38px;
}
.blockPerson {
  margin: 0 0 28px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.blockPerson div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:flex-start;
}

.mainImage {
  margin-bottom: 69px;
  text-align: center;
}

.sectionText {
  max-width: 708px;
  margin: 0 auto 103px;
}

.sectionText p:first-child {
  font-size: 20px;
  line-height: 32px;
}

.sectionText,
.secondText,
.thirdText {
  line-height: 30px;
}

.footer {
  text-align: center;
  padding: 0 0 77px 0;
}

.copyright {
  opacity: 60%;
}

.sectionList {
  list-style: none;
}
