* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      243.18deg,
      #fdc5c5 25.45%,
      rgba(242, 152, 222, 0) 100%
    ),
    linear-gradient(0deg, #f39494, #f39494),
    linear-gradient(243.43deg, #ffa5a5 32.96%, rgba(255, 255, 255, 0) 82.03%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

main {
  max-width: 582px;
  padding: 72px 95px 91px 93px;
  background-color: #fffefe;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  text-align: center;
}

input,
button {
  border-radius: 1px;
}

h1 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
}

span {
  color: #666666;
  font-size: 18px;
}

div a {
  color: #089fe0;
  text-decoration: none;
  margin-left: 5px;
}

input {
  height: 44px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding: 9px 0 9px 11px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  caret-color: #089fe0;
}

input::placeholder {
  font-style: italic;
  font-weight: 400;
}

input:focus {
  background-color: #fff;
  border: 1px solid;
  border-color: #f5f5f5;
  font-weight: 600;
}

label {
  color: #666666;
}

button {
  background-color: #089fe0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  height: 44px;
  width: 100%;
  border-radius: 5px;
  padding: 9px 102px;
  border: none;
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"]:checked + label[for="checkbox"]::before {
  background-color: #089fe0;
  content: "✓";
  padding: 0 3px;
  color: white;
}

label[for="checkbox"]::before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 0;
  display: inline-block;
  /* margin: 2px; */
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
  font-size: 11px;
}

#checkbox {
  height: auto;
  width: inherit;
  margin: 0;
}

#firstname {
  border-radius: 5px 0 0 5px;
}

#lastname {
  margin-left: 1px;
  border-radius: 0 5px 5px 0;
}

.personName {
  display: flex;
}

.checkbox {
  display: flex;
  position: relative;
  text-align: left;
  gap: 8px;
}

.btn {
  position: relative;
}

.btn img {
  position: absolute;
  top: 10px;
  right: 24px;
}

.regText {
  text-align: center;
}

.regText a {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 5px;
}
